.crypto-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.crypto-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0;
  min-width: 12em;
  min-height: 10em;
  font-size: 0.8em;
}

.crypto-card h3 {
  font-size: 1em;
}

.crypto-card p {
  font-size: 0.8em;
  margin: 0.7em 0;
}

.crypto-card:nth-child(even) {
  background-color: #cc3a79b7;
}

.crypto-card:nth-child(odd) {
  background-color: #d32872c0;
}

.arrow {
  color: #fff;
  display: flex;
  margin: 30% 10% 0 auto;
  font-size: 1.7em;
  border: solid 1px #fff;
  padding: 5px;
  border-radius: 50%;
}

.crypto-card:hover {
  background-color: whitesmoke;
  color: #b92d6ab7;

  .arrow {
    background-color: whitesmoke;
    color: #b92d6ab7;
    border: solid 2px #b92d6ab7;
  }
}

.search {
  width: 20em;
  margin: 0 auto 1em auto;
  text-align: center;
  border: 0.1em solid #e2e2e2;
  border-radius: 0.5em;
}

input {
  border: none;
  width: 18em;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 0.75em;
}

input::placeholder {
  color: #fff;
}

button {
  padding: 1em 1.5em;
  background: transparent;
  border: none;
  border-radius: 0.3em;
  color: #fff;
  font-size: 0.9em;
  cursor: pointer;
}
