@import url('https://fonts.googleapis.com/css2?family=Gill+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', sans-serif;
}

body {
  background-color: #ed1e78ce;
  color: #fff;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  margin: 0 0 0.5em 0;
  text-shadow: 0.03em 0.02em 0.02em rgb(122, 121, 121);
}
